In [1]:
import numpy as np
import pandas as pd

In [53]:
fuel_data = pd.read_csv("https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv")

In [4]:
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

## Question One

## If youâ€™re given two lists:

## A = [1,2,3,4,5,6], B = [13, 21, 34]

## The task is to create a list with the elements of A and B in a single dimension with output:

## A_B = [1,2,3,4,5,6,13, 21, 34]

In [6]:
A = [1,2,3,4,5,6]
B = [13,21,34]
A.extend(B)
A_B = A
A_B

[1, 2, 3, 4, 5, 6, 13, 21, 34]

## Question 2

## How do you create an identity matrix in python?

In [11]:
identity_matric = np.identity(3)
print(identity_matric)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

## Question 3


## Which of the following fuel type code has the lowest average fuel cost per unit burned?

In [39]:
fuel_data.groupby(["fuel_type_code_pudl"])["fuel_cost_per_unit_burned"].mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 4


## What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

In [40]:
std_75perc = fuel_data['fuel_mmbtu_per_unit'].describe().loc[['std','75%']]
round(std_75perc, 4)

std    10.6002
75%    17.0060
Name: fuel_mmbtu_per_unit, dtype: float64

## Question 5


## What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

In [42]:
skewness = fuel_data.skew()['fuel_qty_burned']
round(skewness, 3)

15.851

In [43]:
kurtosis = fuel_data.kurtosis()['fuel_qty_burned']
round(kurtosis, 3)

651.369

## Question 6


## Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places?

In [54]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [56]:
percentage = ((fuel_data['fuel_unit'].isnull().sum())/len(fuel_data['fuel_unit'])) *100
round(percentage, 2)

0.61

## Question 7

## The feature with missing values falls under what category? What missing value imputation technique would you use?

In [31]:
# Mode technique was used
fuel_data['fuel_unit'].fillna('mcf', inplace=True)
fuel_data['fuel_unit'].value_counts()

mcf       11534
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

## Question 8

## Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

In [32]:
fuel_data.corr(method='pearson')['fuel_cost_per_unit_burned'].sort_values()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

# the answer is fuel_qty_burned & fuel_mmbtu_per_unit

## Question 9

## For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

In [35]:
test_series = fuel_data.groupby('report_year')['fuel_cost_per_unit_burned'].sum()
test_series.pct_change(periods = 4)

report_year
1994         NaN
1995         NaN
1996         NaN
1997         NaN
1998   -0.467365
1999   -0.703858
2000    2.777777
2001    0.102928
2002   -0.130617
2003    0.183406
2004   -0.434486
2005   -0.246397
2006    0.543145
2007    0.716863
2008    0.702318
2009    0.939203
2010    0.762400
2011    0.460971
2012    0.023485
2013    0.164458
2014    0.562218
2015   -0.304976
2016   -0.205813
2017   -0.203221
2018   -0.572250
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 10

## Which year has the highest average fuel cost per unit delivered?

In [36]:
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64